#login {

  padding-top: 10%;

  .panel {

    height: 335px;
    padding-left: 0px;
    padding-right: 0px;

    .panel-body {
      height: 200px;
    }

    .control-group {
        padding-top: 15px;
    }
  }
}
